<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <title>
            paragraph test
        </title>
    </head>

    <body>
        <p>Текст песни Виктор Цой - Группа крови</p>
        <p>Теплое место, но улицы ждут отпечатков наших ног.</p>
        <p>Звездная пыль - на сапогах.</p>
        <p>Мягкое кресло, клетчатый плед, не нажатый вовремя курок.</p>
        <p>Солнечный день - в ослепительных снах.</p>

        <p>Припев:
        <p>Группа крови - на рукаве, мой порядковый номер - на рукаве,</p>
        <p>Пожелай мне удачи в бою, пожелай мне:</p>
        <p>Не остаться в этой траве, не остаться в этой траве.</p>
        <p>Пожелай мне удачи, пожелай мне удачи!</p>

        <p>И есть чем платить, но я не хочу победы любой ценой.</p>
        <p>Я никому не хочу ставить ногу на грудь.</p>
        <p>Я хотел бы остаться с тобой, просто остаться с тобой,</p>
        <p>Источник teksty-pesenok.ru</p>
        <p>Но высокая в небе звезда зовет меня в путь.</p>

        <p>Припев:</p>
        <p>Группа крови - на рукаве, мой порядковый номер - на рукаве,</p>
        <p>Пожелай мне удачи в бою, пожелай мне:</p>
        <p>Не остаться в этой траве, не остаться в этой траве.</p>
        <p>Пожелай мне удачи, пожелай мне удачи!</p>

        <p>Текст песни добавил: Аноним</p>
    </body>
</html>