<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <title>
            paragraph test
        </title>
    </head>

    <body>
        Текст песни Виктор Цой - Группа крови
        Теплое место, но улицы ждут отпечатков наших ног.
        Звездная пыль - на сапогах.
        Мягкое кресло, клетчатый плед, не нажатый вовремя курок.
        Солнечный день - в ослепительных снах.

        Припев:
        Группа крови - на рукаве, мой порядковый номер - на рукаве,
        Пожелай мне удачи в бою, пожелай мне:
        Не остаться в этой траве, не остаться в этой траве.
        Пожелай мне удачи, пожелай мне удачи!

        И есть чем платить, но я не хочу победы любой ценой.
        Я никому не хочу ставить ногу на грудь.
        Я хотел бы остаться с тобой, просто остаться с тобой,
        Источник teksty-pesenok.ru
        Но высокая в небе звезда зовет меня в путь.

        Припев:
        Группа крови - на рукаве, мой порядковый номер - на рукаве,
        Пожелай мне удачи в бою, пожелай мне:
        Не остаться в этой траве, не остаться в этой траве.
        Пожелай мне удачи, пожелай мне удачи!

        Текст песни добавил: Аноним
    </body>
</html>