<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <title>
            style test
        </title>
    </head>

    <body>
        <style>

            #Lucy{
                color: rgba(255, 170, 0, 0.789);
            }

            #VE{
                color: blueviolet;
            }

            a{
                text-decoration: none ;
            }

            a:hover{
                text-decoration: underline;
            }


        </style>


        <ul>
            <li><a href = "/static/Lucy.png", id = 'Lucy'>say hi to Lucy</a></li>
            <li><a href = "https://github.com/saliteta", id = 'VE'>say hi to Violet Evergarden</a>  </li>      
        </ul>
    </body>

</html>